/* Reset and base styles */
* {
  font-family: inherit;
  contain: layout style paint inline-size;
}
body {
  background-color: #f8f4ee;
  margin: 0;
  background-image: url(rat-background.avif);
  background-position: right -180px top;
  background-size: max(calc(50vw - 400px), 700px) max(calc(50vw - 400px), 700px);
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.87);
  line-height: 22px;
  font-family: system-ui, sans-serif;
  flex-grow: 1;
}

html, body{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

a{
  color: #327e09;
}
a:visited {
  color: rebeccapurple;
}

@media (max-width: 900px) {
  body {
    background-size: contain;
    background-position: center top;
  }
  .main-container.main-container {
    margin-top: 60%;
  }
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 64px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.65);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: inherit !important;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  flex-grow: 1;
}

/* Main content layout */
.main-container {
  display: flex;
  width: 765px;
  max-width: 100%;
  margin: 82px auto;
}

/* Content styles */
.content {
  flex: 1;
  background-color: white;
}

/* Post list */
.post-item {
  display: flex;
  padding: 0.75rem;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  align-items: center;
  gap:1em
}
summary {
  padding: 0.75rem;
}
details {
  opacity:0.3;
}
details:hover, details:focus-within {
  opacity:1;
}

.post-score {
  min-width: 2ch;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.post-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap:.5em;
}

.post-title {
  text-decoration: none;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  color: inherit;
  contain: layout style paint;
}
.post-title:visited {
  color: rgba(0, 0, 0, 0.6);
}
.post-title:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.post-title-star {
  margin-right: 0.5rem;
}

.post-author {
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  text-wrap-style: balance;
  contain: layout style paint;
}

.post-comments {
  width: 3ch;
  box-sizing: content-box;
  text-align: center;
  font-size: 0.9em;
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #fff;
  border-bottom-right-radius: 0;
  position: relative;
  contain: layout;
}
.post-comments::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-right: 8px solid rgba(0, 0, 0, 0.6);
  border-top: 0 solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 100%;
  right: 0;
}

.post-time {
  min-width: 2ch;
  text-align: center;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 58px;
  font-size: min(10vw, 58px);
  line-height: 60px;
  font-weight: 400;
  text-wrap-style: balance;
  contain: layout style inline-size;
}
.article-container {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  background: white;
  padding: 82px max(calc(50vw - 400px), 1ch);
  display: none;
  flex-grow: 1;
}
.article-meta {
  font-family: system-ui, sans-serif;
}
.article-container:target {
  display: block !important;
}
.article-container:target ~ .main-container {
  display: none;
}
.article-author {
  font-weight: bold;
}
.article-time {
  margin-left: 2ch;
}
.post-title small {
  opacity: 0.5;
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
}
.add-post {
  display: block;
  padding: 3em;
  text-align: center;
}
.add-post:not(:hover) {
  color: inherit;
  text-decoration: none;
}
.article-container:target ~ .add-post {
  display: none;
}
h3,
p,
ul,
ol {
  margin: 1lh 0;
}
.article-by {
  font-weight: normal;
}
.post-comments-box {
  font-family: system-ui, sans-serif;
  margin-bottom: 17px;
  margin-top: 4lh;
}
.post-comment {
  border: 1px solid rgba(72, 94, 144, 0.16);
  border-radius: 3px;
  padding: 12px;
  position: relative;
  margin: 17px 0;
  padding-bottom: 0;
}
.comment-author {
  font-weight: bold;
}
.comment-button {
  color: #69886e !important;
  padding: 0.5em 1em;
  border-radius: 4px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  text-decoration: none;
  contain: layout style paint;
}
.comment-button:hover {
  background: #69886e;
  color: #fff !important;
}
/*
.downvote-button,
.upvote-button,
.minus-button,
.plus-button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: system-ui, sans-serif;
  opacity: 0.5;
  width:2ch;
  text-align: center;
}
.comment-button-spacer {
  width: 1ch;
  display: inline-block;
}*/
.post-comment .post-comment {
  background: #eee;
}

.post-metrics{
  display: flex;
  gap: 1em;
  align-items: center;
  contain: layout;
}

@media (max-width: 480px) {
  header{
    justify-content: center;
  }
  .post-content {
    flex-direction: column;
  }
  .post-title {
    align-self: start;
  }
  .post-meta{
    align-self: end;
  }
  .post-metrics{
    flex-direction: column;
  }
}

svg, img {
  max-width: 100%;
  height: auto;
}

li, h3 {
  contain: layout style inline-size;
}